<div *ngIf="calendarItem">
    <ul>
      <li *ngFor="let event of calendarItem.calendarItemEventList" class="calendarListItem">
        <p class="eventSummaryText">
            {{ event.summary }}
        </p>
        <p class="eventLocationText">
            {{ event.location }}
        </p>
        <p class="eventTimeRangeText">
            {{event.startDateTime | date: 'M/dd'}}: <span id="eventTimeRange">{{ event.startDateTime | date:'H:mm'}} - {{ event.endDateTime | date:'H:mm'}}</span>
        </p>
      </li>
    </ul>
</div>