<div *ngIf="weatherItem && weatherData">
  <div>
      <p id="weatherSummary">{{ weatherData.hourly.summary }}</p>
      <p id="weatherSummary">{{ weatherData.currently.icon }}</p>
      <p id="weatherSummary">{{ weatherData.currently.summary }}</p>
      <ul *ngFor="let hourlyForecast of weatherData.hourly.data">
        {{ hourlyForecast.time * 1000 | date:'HH:mm'}} |
        {{ hourlyForecast.temperature }} |
        {{ hourlyForecast.precipType }} | <!--May be empty if no precip-->
        {{ hourlyForecast.icon }} | <!--Can be clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night-->
        {{ hourlyForecast.precipProbability }}% |
        {{ hourlyForecast.summary }} |
      </ul>
  </div>
</div>





