<div id="detailDiv" *ngIf="dashboardItem">
  <h2>
    {{ dashboardItem.dashboardItemName }} Details
  </h2>
  <p>
    Dashboard Item Type: {{ dashboardItem.dashboardItemType }}
  </p>

  <div [ngSwitch]="dashboardItem.dashboardItemType">
    <div *ngSwitchCase="'Weather'">

      {{ weatherItem.weatherItemName }} ({{ weatherItem.weatherItemLatitude }}, {{ weatherItem.weatherItemLongitude }})

    </div>
    <div *ngSwitchCase="'Commute'">

      Commute Item Name: {{ commuteItem.commuteItemName }}

      <p>
          Origin: {{ commuteItem.commuteOriginName }} ({{ commuteItem.commuteOriginLatitude }}, {{ commuteItem.commuteOriginLongitude }})
      </p>

      <p>
        Destination: {{ commuteItem.commuteDestinationName }} ({{ commuteItem.commuteOriginLatitude }}, {{ commuteItem.commuteOriginLongitude }})
      </p>
    </div>

    <div *ngSwitchCase="'Calendar'">
        <p>
          Calendar Item Name: {{ calendarItem.calendarItemName }}
        </p>
        <p>
          # of Days to Get Calendar Events From: {{ calendarItem.calendarItemTimeRange }}
        </p>
    </div>

    <div *ngSwitchDefault>
      <!--Empty default case-->
    </div>
  </div>
  <button class="btn backButton" (click)="onBackButton()">Back</button>
</div>

