<div *ngIf="dashboardItem">
  <h2>
    Detail!
  </h2>
  <p>
    {{ dashboardItem.dashboardItemName }}
  </p>
  <p>
    {{ dashboardItem.dashboardItemType }}
  </p>

  <div [ngSwitch]="dashboardItem.dashboardItemType">
      <div *ngSwitchCase="'Weather'">

        {{ weatherItem.weatherItemName }} ({{ weatherItem.weatherItemLatitude }}, {{ weatherItem.weatherItemLongitude }})

      </div>
      <div *ngSwitchCase="'Commute'">

        {{ commuteItem.commuteItemName }}

        <p>
            Origin: {{ commuteItem.commuteOriginName }} ({{ commuteItem.commuteOriginLatitude }}, {{ commuteItem.commuteOriginLongitude }})
        </p>

        <p>
          Destination: {{ commuteItem.commuteDestinationName }} ({{ commuteItem.commuteOriginLatitude }}, {{ commuteItem.commuteOriginLongitude }})
        </p>

      <div *ngSwitchCase="'Calendar'">
        {{ calendarItem.calendarItemName }}

        {{ calendarItem.calendarItemTimeRange }}
      </div>

      <div *ngSwitchDefault>
        <!--Empty default case-->
      </div>
    </div>
  </div>
