.commuteContainer {
    margin: 1rem;
    text-align: center;
}

.commuteHeader {
    font-size: 20px;
}

.commuteText {
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.commuteImage {
    border-radius: 5%;
    width: auto;
    height: auto;
}