#dashboard {
    margin: 0.5rem 0.5rem;
}

.dashboardItem {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

#dashboardItemHeader {
    font-size: 2rem;
    text-align: center;
}

.buttonGrouping {
    float: right;
    margin: 20px 5px 5px 5px;
}

.buttonColumn {
    display: inline-block;
    margin: 0 3px;
}

.dashboardButton {
    border: 1px solid black; 
}

.buttonImage {
    height: 30px;
    width: 30px;
}

#createButton {
    float: right;
    margin: 0 4rem 10px;
    border: 2px solid black;
}