<nav>
    <a routerLink="new"><button class="btn btn-primary">Create!</button></a>
</nav>

<div id="dashboard" class="row justify-content-center">
  <div class="dashboardItem col-11" *ngFor="let dashboardItem of dashboardItems">
    <div class="dashboardItemContents" *ngIf="dashboardItem.dashboardItemType == 'Weather'">
        <h4 id="dashboardItemHeader">{{ dashboardItem.dashboardItemName }}</h4>
        <app-weather [weatherItemId]="dashboardItem.dashboardItemReferenceId"></app-weather>
    </div>

    <div class="dashboardItemContents" *ngIf="dashboardItem.dashboardItemType == 'Commute'">
        <h4 id="dashboardItemHeader">{{ dashboardItem.dashboardItemName }}</h4>
        <app-commute [commuteItemId]="dashboardItem.dashboardItemReferenceId"></app-commute>
    </div>

    <div class="dashboardItemContents" *ngIf="dashboardItem.dashboardItemType == 'Calendar'">
        <h4 id="dashboardItemHeader">{{ dashboardItem.dashboardItemName }}</h4>
        <app-calendar [calendarItemId]="dashboardItem.dashboardItemReferenceId"></app-calendar>
    </div>

    <nav>
      <a routerLink="{{ dashboardItem.id }}"><button>Details</button></a>
    </nav>
    <nav>
        <a routerLink="edit/{{ dashboardItem.id }}"><button>Edit</button></a>
    </nav>
    <nav>
      <a routerLink="delete/{{ dashboardItem.id }}"><button>Delete</button></a>
    </nav>
  </div>
</div>