<div id="dashboard" class="row justify-content-center">
  <div class="dashboardItem col-11" *ngFor="let dashboardItem of dashboardItems">
    <div class="dashboardItemContents" *ngIf="dashboardItem.dashboardItemType == 'Weather'">
        <h4 id="dashboardItemHeader">{{ dashboardItem.dashboardItemName }}</h4>
        <app-weather [weatherItemId]="dashboardItem.dashboardItemReferenceId"></app-weather>
    </div>

    <div class="dashboardItemContents" *ngIf="dashboardItem.dashboardItemType == 'Commute'">
        <h4 id="dashboardItemHeader">{{ dashboardItem.dashboardItemName }}</h4>
        <app-commute [commuteItemId]="dashboardItem.dashboardItemReferenceId"></app-commute>
    </div>

    <div class="dashboardItemContents" *ngIf="dashboardItem.dashboardItemType == 'Calendar'">
        <h4 id="dashboardItemHeader">{{ dashboardItem.dashboardItemName }}</h4>
        <app-calendar [calendarItemId]="dashboardItem.dashboardItemReferenceId"></app-calendar>
    </div>

    <div class="buttonGrouping">
      <div class="buttonColumn">
        <nav>
          <a routerLink="{{ dashboardItem.id }}"><button class="btn dashboardButton"><img class="buttonImage" src="assets/images/details.png"></button></a>
        </nav>
      </div>

      <div class="buttonColumn">
        <nav>
            <a routerLink="edit/{{ dashboardItem.id }}"><button class="btn dashboardButton"><img class="buttonImage" src="assets/images/edit.png"></button></a>
        </nav>
      </div>

      <div class="buttonColumn">
        <nav>
          <a routerLink="delete/{{ dashboardItem.id }}"><button class="btn dashboardButton"><img class="buttonImage" src="assets/images/delete.png"></button></a>
        </nav>
      </div>
    </div>
  </div>
</div>

<nav>
    <a routerLink="new"><button class="btn" id="createButton">New Item!</button></a>
</nav>